<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="banner-div">
        <img src="../static/images/qis_banner.png" alt="">
    </div>
    <div class="register-div">
        <form action="" method="post">
            <input type="number" name="id" required placeholder="ID">
            <input type="text" name="name" required placeholder="name">
            <input type="email" name="email" required placeholder="email">
            <input type="number" name="phone" required placeholder="phone">
            <input type="number" name="percentage" required placeholder="Inter Percentage">
            <input type="number" name="rank" required placeholder="Eamcet Rank">
            <input type="text" name="course" required placeholder="course interested">
            <input type="text" name="address" required placeholder="address">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>